.for {
  padding-top: 35px;
  padding-bottom: 115px;
  
  h2::after {
    background-color: #3fb5d4;
  }
}

.for__text {
  p {
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.for__list {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  padding-top: 25px;
  margin-bottom: 25px;
  
  div {
    width: 115px;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/elipse.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
  }
  
  li {
    width: 165px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  p {
    margin-top: 25px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
    text-align: center;
  }
}