.value {
  padding-top: 35px;
  position: relative;
  background-image: url(../img/bg-bird.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.value__img {
  position: absolute;
  top: -120px;
  right: ~"calc(50% + 121px)";
  width: 1064px;
  height: 528px;
}
